<div class="follow_follower_list_main">
  <%= link_to user_path(follow_follower_list.id) do %>
    <div class="user_parts">
      <div class="user_part_left">
        <%= image_tag follow_follower_list.profile_image_url, class: 'user_image' %>
      </div>
      <div class="user_part_right">
        <p><%= follow_follower_list.name %></p>
      </div>
    </div>
  <% end %>
</div>
