<div class="posts_part">
  <div class="posts_part_left">
    <%= image_tag post_content_list.user.profile_image_url, class: 'user_image' %>
  </div>
  <div class="posts_part_right">
    <p class="user_name"><%= post_content_list.user.name %></p>
    <%= link_to post_content_list.content, post_path(post_content_list), class: 'content_show_a' %>
    <%= render 'shared/like_button', { post: post_content_list } %>
  </div>
</div>