<div class="user_show_main">
  <div class="user_show_main_left">
    <div class="user_show_main_left_top">
      <div class="posts_part_left">
      </div>
      <p><%= @user.name %></p>
    </div>
  </div>

  <div class="user_show_main_right">
    <div class="posts_main">
      <% @posts.each do |post| %>
        <div class="posts_part">
          <div class="posts_part_left">
          </div>
          <div class="posts_part_right">
            <p><%= @user.name %></p>
            <%= link_to post.content,post_path(post),class: 'content_show_a' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>