<div class="user_show_main">
  <%= render 'sns_profile_part', { user: @user } %>
  <div class="user_show_main_right">
    <div class="switch_content_main">
      <%= link_to '投稿', user_path(@user), class: "switch_post active" %>
      <%= link_to 'いいね', user_liked_posts_path(@user), class: "switch_like" %>
    </div>
    <% if @posts.present? %>
      <div class="posts_main">
        <%= render partial: "post", collection: @posts %>
      </div>
    <% else %>
      <p>投稿がまだありません</p>
    <% end %>
  </div>
</div>
