
<h1 class="content_h1">投稿する</h1>
<div class="content_main">
  <%= form_with(model: @post, local: true, class: 'form') do |f| %>
    <%= f.text_area :content, class: 'content_form' %>

    <%= f.submit '投稿', class: 'content_submit' %>
  <% end %>
</div>