<div class="posts_detail_main">
  <p class="posts_detail_part_text"><%= @post.content %></p>
  <p class="posts_detail_part_time"><%= @post.created_at.to_s(:datetime_jp) %></p>
</div>
<div class="posts_btn">
  <%= link_to '編集',edit_post_path(@post),class: 'edit_button' %>
  <%= link_to '削除',@post ,method: :delete,class: 'delete_button',date: {confirm: "投稿を削除していいですか？"} %>
</div>