@import "bootstrap-sprockets";
@import "bootstrap";
@import '@fortawesome/fontawesome-free/scss/fontawesome';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.container{
  text-align: center;
}

.header_main{
  display: flex;
  flex-direction: row;
  background-color: #efefef;
  box-shadow: 0px 1px 5px lightgrey;
  z-index: 100;
  .header_left{
    margin-left: 10px;
    h1{
      margin: 15px 0 0 25px;
      a{
        font-weight: bold;
        font-family: cursive;
      &:hover{
        text-decoration: none;
      }
      }
    }
  }
  .header_right{
    text-align: right;
    width: 100%;
    line-height: 65px;
    a{
      margin-right: 18px;
      font-weight: 600;
      font-family: cursive;
    }
  }
}

.content_h1,.posts_h1{
  color: #4285bc;
  position: relative;
  right: 136px;
  top: 16px;
  font-weight: 600;
  font-size: 45px;
  opacity: 0.5;
}

.content_main{
  width: 40%;
  margin: 50px auto;
  border: 1px solid #e0dfdf;
  padding: 35px 0 11px 0;
  box-shadow: 1px 2px 5px #efefef;
  .form{
    display: flex;
    flex-direction: column;
    .content_form{
      height: 120px;
      width: 325px;
      margin-left: 62px;
      border: 1px solid #dedede;
    }
    .content_submit{
      width: 11%;
      margin: 20px 71px 0px auto;
      border: none;
      background: #4285bc;
      color: white;
      border-radius: 5px;
      padding: 3px;
    }
  }
}

.home_main{
  .posts_main{
    box-shadow: 1px 1px 5px #efefef;
    border: 1px solid #e2e2e2;
    width: 40%;
    margin: 50px auto;
    .posts_part{
      display: flex;
      padding: 25px 25px 25px 10px;
      border-bottom: 1px solid #f1f1f1;
      box-shadow: 1px 1px 1px #efefef;
      .content_show_a, a{
        margin: 0;
        color:black;
        &:hover{
          text-decoration: none;
        }
      }
      .posts_part_left{
        margin: 0 30px;
        .user_image{
          height: 75px;
          width: 82px;
          border-radius: 50%;
        }
      }
      .posts_part_right{
        text-align: left;
        .user_name{
          font-weight: bold;
          font-size: 15px;
        }
        .likes_part{
          display: flex;
          width: 175px;
          .posts_detail_part_time{
            font-size: 10px;
            margin: 10px 0 0 0;
            color: #9b9b9b;
            font-weight: 100;
          }
          .like_btn{
            line-height: 33px;
            width: 50px;
            text-align: right;
            .fa-heart{
              margin-right: 5px;
            }
          }
          .like_count{
            margin: 0;
            line-height: 32px;
            font-weight: lighter;
          }
        }
      }
    }
  }
}


.login_form,.entry_form{
  padding: 42px 0;
  width: 39%;
  margin: 50px auto;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 6px #efefef;
  .form{
    display: flex;
    flex-direction: column;
  }
  .login_form_part,.entry_form_part{
    color: gray;
    width: 50%;
    text-align: left;
    margin: 0 auto;
  }
  .image{
    font-size: 10px;
  }
  .login_form_email,.login_form_password,.entry_form_email,.entry_form_password{
    width: 50%;
    margin: 0 auto 20px auto;
  }
  .login_submit{
    border-radius: 5px;
    border: none;
    background: #a1c2de;
    color: white;
    padding: 5px 15px;
  }
  p{
    margin-bottom: 13px;
  }
}

.error_main{
  padding: 10px;
  border: 1px solid #ffc1c1;
  background: #ffdddd;
  font-size: 10px;
  text-align: left;
  width: 60%;
  margin: 0px auto 10px auto;
  border-radius: 5px;
  p{
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #8c1818;
  }
  li{
    color: #8c1818;
    list-style: none;
  }
}

.edit_button,.delete_button{
  background: #337ab7;
  padding: 6px;
  border-radius: 4px;
  color: white;
  &:hover{
    border-bottom: white;
    color: white;
  }
}

.confirm_user_form{
  padding: 28px 0 20px 0;
  width: 45%;
  p{
    text-align: left;
    width: 80%;
    margin: 0 auto 0 92px;
    .confirm_part{
      width: 33%;
    }
    .confirm_image{
      height: 100px;
      margin-bottom: 20px;
    }
  }
  .confirm_submit{
    font-size: 10px;
  }
}

.user_show_main{
  display: flex;
  margin-top: 66px;
  .user_show_main_left{
    width: 36%;
    border-right: 1px solid #d0d0d0;
    .user_show_main_left_top{
      display: flex;
      .posts_part_left{
        margin: 0 30px;
        .user_image{
          width: 120px;
          height: 115px;
          border-radius: 50%;
        }
      }
      p{
        font-weight: bold;
        font-size: 25px;
        margin: 0;
        line-height: 75px;
      }
    }
    .edit_or_follow{
      margin: 35px 0 0 0;
      .setting_link{
        color: black;
        border: 1px solid #979494;
        padding: 7px 55px;
        border-radius: 20px;
        &:hover{
          background-color: #efefef;
          text-decoration: none;
        }
      }
    }

    .follow_info_main{
      margin: 30px 0 0 87px;
      display: flex;
      .following_info,.follower_info{
        width: 35%;
        a{
          color: black;
          display: flex;
          .number{
            font-weight: bold;
            margin-right: 4px;
          }
        }
      }
    }
  }
  .user_show_main_right{
    width: 70%;
    .follower_or_following_msg{
      font-size: 28px;
      font-weight: bold;
      width: 20%;
      margin: 0 auto;
      border-bottom: 4px solid #2dbbff;
    }
    .zero_msg{
      margin: 50px 0;
    }
    .posts_main{
      box-shadow: 1px 1px 5px #efefef;
      border: 1px solid #e2e2e2;
      width: 68%;
      margin: 0 auto;
      .posts_part{
        display: flex;
        padding: 25px 25px;
        border-bottom: 1px solid #f1f1f1;
        box-shadow: 1px 1px 1px #efefef;
        .content_show_a, a{
          margin: 0;
          color:black;
          &:hover{
            text-decoration: none;
          }
        }
        .posts_part_left{
          margin: 0 30px;
          .user_image{
            height: 75px;
            width: 82px;
            border-radius: 50%;
          }
        }
        .posts_part_right{
          text-align: left;
          p{
            font-weight: bold;
            font-size: 15px;
          }
        }
      }
    }
  }
}



